# API-TEST-RESULTS

## Endpoint
1. POST/items 
![images](images/Endpoint/POST_items.png) 

2. GET_health
![images](images/Endpoint/GET_health.png)

3. GET_items
![images](images/Endpoint/GET_items.png)

4. GET_items_stats
![images](images/Endpoint/GET_items_stats.png)

5. GET_items_{item_id}
![images](images/Endpoint/GET_item_{item_id}.png)

6. PUT_items_{item_id}
![images](images/Endpoint/PUT_items_{item_id}.png)

7. DELETE_item_{item_id}
![images](images/Endpoint/DELETE_item_{item_id}.png)


## Hasil

1. POST/items 
![images](images/Hasil/POST_items.png) 

2. GET_health
![images](images/Hasil/GET_health.png)

3. GET_items
![images](images/Hasil/GET_items.png)

4. GET_items_stats
![images](images/Hasil/GET_items_stats.png)

5. GET_items_{item_id}
![images](images/Hasil/GET_item_{item_id}.png)

6. PUT_items_{item_id}
![images](images/Hasil/PUT_items_{item_id}.png)

7. DELETE_item_{item_id}
![images](images/Hasil/DELETE_item_{item_id}.png)

